*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}

html,body{
	height: 100%;
}
.clear{
	clear: both;
}

.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}


